// font-family: 'Lato', sans-serif;
// font-family: 'Chango', cursive;
// font-family: 'Roboto', sans-serif;
.mainNav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F46036;
    // border: 1px solid black;
    border-radius: 1rem;
    height:5.5rem;
    // margin-top: -1rem;
    margin: -1rem auto;
    box-shadow: 5px 4px 15px 1px rgba(0, 0, 0, .5);
}
.logo {
    max-width: 300px;
    margin-top: -.3rem;
  }

.navRight{
flex-grow: 1;
text-align: right;
margin-top: -2rem;
    .navLink{
    text-decoration: none;
    font-family: 'finger paint', cursive;
    color:#235789;
    font-size: 1.5rem;

    }
    .active{
        color:#A50000;
    }
    .navLink:hover{

        color: #9BE564;
        }
}
.navLeft{
// float: left;
}
.navLink{
display: inline-block;
padding: 16px;
font-size: 20px;        
}
// .navMid, .navRight, .navLeft{
//     flex:1;
// }
@media only screen and (max-width: 820px) {
    .mainNav{
        display: flex;
       
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        // margin: 0 auto;
        height: auto !important;
        // .hidden{
        //     display: none;
        // }
    }
    .navLink{
        display: inline-block;
        padding: 0px;
        font-size: 20px;     
        }

    .navRight{
        // margin:0 auto;
        text-align: center
        
    }
    // .navMid{
    //     margin:0 auto;
    //     flex-direction: column;
    //     a{
    //         margin-top: 1rem;
    //     }
    // }
    .navLeft{
margin: 0 auto;
    }
    .logo{
        cursor: pointer;
    }
    }
    // @media only screen and (max-width: 1050px) {
    //     .mainNav{
    //         display: flex;
    //         align-items: center;
    //         flex-wrap: wrap;
    //         flex-direction: column;
    //         // margin: 0 auto;
    //         .navRight{
    //            margin-top: 1rem;
    //         }
    //     }
    //     .navLink{
    //         display: inline-block;
    //         padding: 0px;
    //         font-size: 20px;     
      
    //         }
    
    //     .navRight{
    //         margin:0 auto;
            
    //     }
    //     .navMid{
    //         display: flex;
    //         // flex-direction: column;
    //     }
    //     .navLeft{
    //         margin:0 auto;
    //     }
    //     .logo{
    //         cursor: pointer;
    //     }
    //     }